body,
html,
#root {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	background-color: rgb(12, 12, 40);
	overflow-y: hidden;
}

.no-input-warning {
	display: inline-flex;
	position: fixed;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	top: 25px;
	transition: opacity 0.5s;
	pointer-events: none;
}

.no-input-warning-content {
	padding: 15px 25px;
	border-radius: 15px;
	background: whitesmoke;
	text-align: center;
}

.camera-controls {
	position: fixed;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.camera-controls button {
	border: none;
	background-color: whitesmoke;
	font-size: 25px;
	border-radius: 50%;
	padding: 15px;
	cursor: pointer;
	transition: all 0.2s;
}

.camera-controls button:hover {
	transform: scale(1.1);
	background-color: lightgray;
}

.camera-controls button:active {
	transform: scale(0.9);
}

.photo {
	display: inline-block;
	max-height: 20vh;
	padding: 5px;
	cursor: pointer;
}

.photo-roll {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
}

.photo-book {
	overflow-x: scroll;
	background-color: whitesmoke;
}

.photo-book-container {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all 0.5s;
}

.photo-book-toggler-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.photo-book-toggler {
	background-color: white;
	border: none;
	cursor: pointer;
	height: 2rem;
	width: 4rem;
	border-radius: 0 0 2rem 2rem;
}